<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav class="blue darken-4">
        <div style="max-width:1000px; margin:auto;"class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo">POSCO</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'input' %}">데이터 입력</a></li>
            <li><a href="{% url 'list' %}">데이터 목록</a></li>
            <li><a href="{% url 'graph' %}">그래프</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>