{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="head-image">

    </section>

    <section class="tech">
        <div class="tech-con">
            <div class="tech-content">
                <div class="tech-card">
                    <div class="icon">
                        <i style="color:#0d47a1;" class="large material-icons">insert_chart</i>
                    </div>
                    <div class="title">
                        <h3>어플1</h3>
                    </div>
                    <div class="content">
                        <p>간단한 소개</p>
                    </div>
                </div>
    
                <div class="tech-card">
                    <div class="icon">
                        <i style="color:#0d47a1;" class="large material-icons">insert_chart</i>
                    </div>
                    <div class="title">
                        <h3>어플2</h3>
                    </div>
                    <div class="content">
                        <p>간단한 소개</p>
                    </div>
                </div>
    
                <div class="tech-card">
                    <div class="icon">
                        <i style="color:#0d47a1;" class="large material-icons">insert_chart</i>
                    </div>
                    <div class="title">
                        <h3>어플3</h3>
                    </div>
                    <div class="content">
                        <p>간단한 소개</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}