{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section style="max-width: 1000px; padding-top: 100px; padding-bottom: 100px; margin:auto;" class="input">
        <div class="row">
            <form action="{% url 'input' %}" method="POST" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s4">
                        <select name="fact">
                            <option value="" disabled selected>공장명</option>
                            <option value="제선">제선</option>
                            <option value="제강">제강</option>
                            <option value="압연">압연</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select name="line">
                            <option value="" disabled selected>공정명</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select name="maker">
                            <option value="" disabled selected>Maker</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select name="model">
                            <option value="" disabled selected>Model</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select name="part">
                            <option value="" disabled selected>장애부위</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s4">
                        <select name="fault">
                            <option value="" disabled selected>fault명</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="input-field col s12">
                        <input name="cause" placeholder="원인을 입력하세요" id="first_name" type="text" class="validate">
                        <label for="first_name">원인</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="phenomenon" placeholder="현상을 입력하세요" id="first_name" type="text" class="validate">
                        <label for="first_name">현상</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="measure" placeholder="조치내용을 입력하세요" id="first_name" type="text" class="validate">
                        <label for="first_name">조치내용</label>
                    </div>
                </div>
                <div style="text-align: right;" class="submit">
                    <button type="submit" class="btn btn-dark blue darken-4" name="report">보고서 출력</button>
                    <button type="submit" class="btn btn-dark blue darken-4" name="save">기록 저장</button>
                </div>
            </form>
          </div>
    </section>

    <script>
        $(document).ready(function(){
            $('select').formSelect();
          });
    </script>
{% endblock content %}